.HourForecast {
    background: #0093E5; 
    height: 160px;
    margin: 40px 3%;
    border-radius: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 17%;
    overflow: auto hidden;
    padding-left: 12px;
    padding-right: 12px;
    overscroll-behavior-inline: contain;
}

.Hour {
    color: white;
    margin: 18px 0;
    display: grid;
    justify-content: center;
    gap: 3px;
}

.time {
    font-size: 12px;
}

.weather {
    width: 48px;
}

.temp {
    font-size: 24px;
}

.precip {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.precip > img {
    width: 12px;
}

.precip > p {
    font-size: 12px;
}