.HourForecast {
    height: 160px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 26px;
    overflow: auto hidden;
    padding-inline: 24px;
    overscroll-behavior-inline: contain;
    user-select: none;
}

/* @media (max-width: 767px) {
    .HourForecast:active {
        background:var(--color-light-active)
    }
} */

.Down {
    background:var(--color-light-active)
}

.Hour {
    color: white;
    margin: 18px 0;
    display: grid;
    justify-content: center;
    gap: 3px;
}

.time {
    font-size: 12px;
}

.weather {
    width: 48px;
}

.temp {
    font-size: 24px;
}

.precip {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.precip > img {
    width: 12px;
}

.precip > p {
    font-size: 12px;
}